body {
  background-color: #18191a;
  color: white;
  font-family: "Roboto Mono", monospace;
}
.hero {
  display: flex;
  flex-direction: column;
  font-size: 200% !important;
}
.centered {
  position: fixed;
  top: 40%;
}

/* Navbar custom styling */

.navbar-toggler {
  border: 0px !important;
  width: 2em;
  height: 2em;
}

.nav-item {
  font-size: larger;
  font-weight: bold;
}

.parenthesis {
  color: #892cdc;
}

/* Card Styling */

.card {
  background-color: #343a40 !important;
  border: 0px;
}

.btn-primary {
  background-color: #892cdc;
  border: 0px;
  font-weight: 600 !important;
}

.btn-primary:hover {
  background-color: #6521a0;
  font-weight: 800 !important;
}
#contact-card {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}
.contact-text {
  margin-top: 10%;
}

.btn-outline-light {
  padding: 1em !important;
}

/* Social Styling */

.social {
  position: absolute;
  display: flex;
}
.social i {
  padding-right: 30px;
  font-size: 25px;
  color: #9a9b9c;
}
.social i:hover {
  color: #ffffff;
}
